@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url("https://use.typekit.net/ium3tdj.css");

body {
  font-family: zenon, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: 'Lato', sans-serif;
}

p1 {
  font-family: 'Lato', sans-serif;
}

.content {
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 5px 0;
  background: #F6BD60;
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu-list {
  display: inline-flex;
}

.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.menu-list li {
  list-style: none;
}

.logo img {
  max-width: 150px;
  margin: 0 10px 0 0;
  padding: 15px;
  float: left;
}

.menu-list li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-list li a:hover {
  color: #FD5A05
}

.banner {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.about {
  padding: 40px 0;
}

.title {
  padding-top: 100px;
}

.about .title {
  font-size: 35px;
  font-family: 700;
  color: #FD5A05;
  text-align: center;
}

.about p {
  padding-top: 60px;
  text-align: left;
}

.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}

.omos img {
  border-radius: 23px;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.divider {
  width: 100%;
  height: 130px;
}

.divider2 {
  width: 100%;
  height: 50px;
}

.rydning {
  width: 100%;
  padding: 1%;
  background: #F6BD60;
  text-align: center;
}

#abc {
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:none;
  position:fixed;
  overflow:auto;
  }

  img#close {
  position:absolute;
  right:-14px;
  top:-14px;
  cursor:pointer
  }

  div#popupContact {
  position:absolute;
  left:50%;
  top:17%;
  font-family: 'Lato', sans-serif;
  margin-left:-250px;
  }

  form {
  max-width:500px;
  min-width:350px;
  padding:10px 50px;
  border:2px solid gray;
  border-radius:10px;
  font-family: 'Lato', sans-serif;
  background-color:#fff
  }

  h2 {
  font-family: zenon, sans-serif;
  background-color:#FEFFED;
  padding:20px 35px;
  margin:-10px -50px;
  text-align:center;
  border-radius:10px 10px 0 0;
  color:#FD5A05;
  }

  hr {
  margin:10px -50px;
  border:0;
  border-top:1px solid #ccc
  }

  input[type=text] {
  width:82%;
  padding:10px;
  margin-top:30px;
  border:1px solid #ccc;
  padding-left:40px;
  font-size:16px;
  font-family: 'Lato', sans-serif;
  }

  #name {
  background-image:url(../images/name.png);
  background-repeat:no-repeat;
  background-position:5px 7px;
  }

  #email {
  background-image:url(../images/email.png);
  background-repeat:no-repeat;
  background-position:5px 7px
  }

  textarea {
  background-image:url(../images/msg.png);
  background-repeat:no-repeat;
  background-position:5px 7px;
  width:100%;
  height:95px;
  padding:10px;
  resize:none;
  margin-top:30px;
  border:1px solid #ccc;
  padding-left:40px;
  font-size:16px;
  font-family: 'Lato', sans-serif;
  margin-bottom:30px
  }

  #submit {
  text-decoration:none;
  width:100%;
  text-align:center;
  display:block;
  background-color:#FFBC00;
  color:#fff;
  border:1px solid #FFCB00;
  padding:10px 0;
  font-size:20px;
  cursor:pointer;
  border-radius:5px
  }

  span {
  color:red;
  font-weight:700
  }
  
  button {
  width:40%;
  height:45px;
  border-radius: 23px;
  border:none;
  background-color:#FD5A05;
  color:#fff;
  font-family: 'Lato', sans-serif;
  font-size:18px;
  cursor:pointer;
  }

@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}

@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}

@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}

@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }

  .icon{
    display: block;
  }

  .icon.hide{
    display: none;
  }

  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #F6BD60;
    transition: all 0.3s ease;
  }

  .navbar.show .menu-list{
    left: 0%;
  }

  .navbar .menu-list li{
    margin-top: 45px;
  }

  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}

@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}